* {
  padding: 0%;
  margin: 0;
}
.header {
  background-color: #008fdd;
  padding: 30px;

  .input100 {
    border-radius: 4px;
    padding: 10px;

    border: none;
    font-size: 18px;
    background: whitesmoke;
    color: #636c72;
  }

  .size1 {
    margin-left: 30%;
    width: 220px;
  }
  .size2 {
    margin-left: 86px;
    width: 365px;
    background-repeat: no-repeat;
    background-position: right;
  }
}
