@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@700&display=swap");
* {
  padding: 0%;
  margin: 0;
}
body {
  // background-color: #edeade;
  font-family: "Lato", sans-serif;
}
.header {
  background-color: #008fdd;
  padding: 30px;

  .input100 {
    border-radius: 4px;
    padding: 10px;

    border: none;
    font-size: 18px;
    background: whitesmoke;
    color: #636c72;
  }

  .size1 {
    margin-left: 30%;
    width: 220px;
  }
  .size2 {
    margin-left: 86px;
    width: 365px;
    background-repeat: no-repeat;
    background-position: right;
  }
}
.container {
  margin-top: 30px;
}
.card {
  width: 43%;
  border: 1px solid white;
  display: flex;
  padding-bottom: 17px;
  background-color: white;
  margin-left: 23%;
  margin-bottom: 26px;
  box-shadow: 8px 13px -1px #888888;

  img {
    border-radius: 50%;
    height: 7rem;
    margin: 11px;
  }
  .card_body {
    margin-left: 4px;
    margin-top: 30px;
    width: 68%;
  }
  .card_name {
    font-size: 32px;
  }
  .card_id {
    margin-top: 30px;
  }
}
button {
  color: #1dadca;
  padding: 10px 21px;
  background-color: transparent;
  border: 1px solid #1dadca;
  margin-top: 116%;
}
.card_results {
  margin-left: 23%;
  font-weight: bolder;
}
